.hero {
  height: 400px;
  background-image: url("../images/360_F_283839302_yt6JIsE96Pj4PydFDcBNKDUnuSpYB9h0city.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
